* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    /* height: 100vh; */
    grid-gap: 10px;
    grid-template-areas: 
    "header header header"
    ". contenido ."
    "footer footer footer";
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 0.1fr 5fr 0.2fr;
  
}

/* Header */

header {
    grid-area: header
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(242,242,242);
    background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 25%, rgba(137,206,225,1) 35%, rgba(137,206,225,1) 100%);
}
.menu { 
    display: flex;
}
.header__titulos {
    font-family: 'Arima Madurai', cursive;
    margin: 1rem;
}

header li{
    list-style: none;
    text-align:center;
    color:#fff; 
}

header a{
    text-decoration:none;
    color:inherit;
    font-size:30px;
}

header li a {
    padding: 20px;
}

header li:hover{
        color:#000;
        transform: scale(1.5);
}

.ani-logo {
	-webkit-animation: ani-logo 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: ani-logo 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes ani-logo {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 1;
    }
  }
  @keyframes ani-logo {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 1;
    }
  }
  
/* body */

body{
    background-image: url(../img/fondo1.jpg);
    background-size:cover
}

.container {
    width: 1200px;
    display:block;
    margin:auto;
}

article {
    grid-area: contenido;
    transition: box-shadow 0.3s ease;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    border-radius: 0.5rem;
    
}

.post, h3, p{
    padding: 10px;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

section article h2, section article p {
    font-family: 'Montserrat', sans-serif;
    margin: 1rem; 
}

.img {
    display:block;
    margin:auto;
}

.namaste {
    display: block;
    margin: auto;
    border-radius: 5px;
    
}

.foto3 {
    display: block;
    margin: 14px auto;
}

.titulos  {
    text-align: center;
}

.subtitulos {
    text-align: center;
}

.img {
    width: 600px;
}


.vid1 {
    width: 600px;
}

.videos {
    text-align: center;
}

/* footer */

footer {
    grid-area: footer;
    font-size: 1rem;
    background: rgb(26,123,153);
    background: linear-gradient(90deg, rgba(26,123,153,1) 0%, rgba(255,255,255,1) 50%, rgba(26,123,153,1) 100%);
    padding: 1rem;
    color: white;
}
.foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.izq {
    padding-left: 30px;
}
.der {
    padding-right: 30px;
}
.sub {
    font-family: 'Caveat', cursive;
    display:inline-block;
    width:300px;
    font-size: 17px;
    text-align:center;
    position:relative;
}
.der li {
    list-style: none;
    margin: 10px;
}

.der a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-size: 19px;
    
}
.der a:hover {
    color: cornflowerblue;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

/* Media queries */

@media screen and (max-width: 768px) {
    .head {
        flex-direction: column;
        justify-content: space-between;
        background: rgb(242,242,242);
        background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 10%, rgba(137,206,225,1) 35%, rgba(137,206,225,1) 100%);
    }

    header li:hover{
        color:#000;
        transform: scale(1.1);
    }

    .foot {
        flex-direction: column;
        justify-content: space-between;
    }

    .menu { 
        display:block;
    }

    .container {
    width: 100%;
    display:block;
    margin:auto;
    }

    .formu {
    width: 100%;
    }
  
    .img {
    width: 400px;
    }
    footer {
        background: rgb(242,242,242);
        background: linear-gradient(180deg, rgba(137,206,225,1) 0%, rgba(137,206,225,1) 35%, rgba(137,206,225,1) 100%);
    }
    
}

@media screen and (max-width: 425px) {
    .head{
        flex-direction: column;
        justify-content: space-between;
        background: rgb(242,242,242);
        background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 18%, rgba(137,206,225,1) 35%, rgba(137,206,225,1) 100%);
    }

    header li:hover{
        color:#000;
        transform: scale(1.1);
    }

    .foot {
        flex-direction: column;
        justify-content: space-between;
    }
    .menu { 
        display:block;
    }

    .container {
    width: 100%;
    }

    .formu {
    width: 100%;
    }
    
    .post{
        margin:0;
    }
    
    .img {
    width: 320px;
    }
    .vid1 {
    width: 300px;
    }
    footer {
        background: rgb(242,242,242);
        background: linear-gradient(180deg, rgba(137,206,225,1) 0%, rgba(137,206,225,1) 35%, rgba(137,206,225,1) 100%);
    }
    
}

/* FIN Media queries */